:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    display: grid;
    min-height: 50vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    padding-right: 15em;
    
  } */
  .course-card-container {
    display : grid;
    grid-template-columns: repeat(3,27vw);
    margin-left: -28vw;
    row-gap: 5rem;
    column-gap: 2rem;
    margin-top: 10rem;
    
    
    
}
  
  
  
  .course-card {
    margin-right: 10px;
    height:60vh ;
    font-size: small;
    color: var(--clr-neutral-100);
    background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2020/09/ea-featured-image-ea-desktop-beta.jpg.adapt.crop191x100.1200w.jpg);
    background-size: cover;
    padding: 2.5rem 0 0;    
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
  }
  
  .course-card:hover,
  .course-card:focus-within {
    transform: scale(1.05);
    
  }
  
  .course-card-content {
    --padding: 1rem;
    padding: var(--padding);
    
    background: linear-gradient(
      hsl(0 0% 0% / 0),
      hsl(20 0% 0% / 0.3) 20%,
      hsl(0 0% 0% / 1)
    );
  }
  
  .course-card-title {
    position: relative;
    width: max-content;
    color:white;
    padding-bottom: 0.5rem;
    
    
    
  }
  
  .course-card:hover .course-card-title::after,
  .course-card:focus-within .course-card-title::after {
    transform: scaleX(1);
    backdrop-filter: blur(4px);
  }
  
  .course-card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: 0px;
    background: var(--clr-accent-400);
    transform-origin: left;
    transition: transform 500ms ease;
  }
  
  @media (hover) {
    .course-card-content {
      transform: translateY(90%);
      transition: transform 500ms ease;
      
    }
  
    .course-card-content > *:not(.course-card-title) {
      opacity: 0;
      transition: opacity 500ms linear;
    }
  
    .course-card:hover .course-card-content > *:not(.course-card-title),
    .course-card:focus-within .course-card-content > *:not(.course-card-title) {
      opacity: 1;
      transition-delay: 700ms;
    }
  
    .course-card:hover .course-card-content,
    .course-card:focus-within .course-card-content {
      transform: translateY(40%);
      transition-delay: 500ms;
    }
  
    .course-card:focus-within .course-card-content {
      transition-duration: 0ms;
    }
  
    .course-card-title::after {
      transform: scaleX(0);
    }
  }
  
  .button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
  }
  
  .button:hover,
  .button:focus {
    background-color: var(--clr-neutral-100);
  }
  
  .course-card-body {
    color: rgb(255, 255, 255/0.85);
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition-delay: 0ms !important;
    }
  }
  