.sidebar{
    
    float:right;
    max-width:100%;
   
    
    
}
.sidebox{
    position: absolute;
    bottom: 25%;
    align-items: center;
    right:0;
    width: 95px;
    height:270px;
    background-color: #253439;
    color:white;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top:45px;
    padding-left: 20px;
    padding-right: 10px;
    
}
.submissions{
    font-size: 15px;
}
@media (max-width:500px){
    .sidebox{
        padding-top:30px;
        width: 70px;
        height:250px;
        font-size: small;
    }
    .submissions{
        font-size: small;
    }
}